/* estilos footer */
:root {
    --PrimaryColor: #560319; /* Borgoña oscuro */
    --HoverColor: hsl(330, 28%, 17%); /* Un tono más oscuro para el hover */
    --WhiteColor: #ffffff; /* Blanco */
    --BlackColor: #000000; /* Negro */
    --TextColor: hsl(0, 0%, 45%); /* Un tono más oscuro para el texto */
    --WhiteColorDim: hsl(0, 0%, 93%); /* Blanco ligeramente atenuado */
    --GreyBg: hsl(0, 0%, 94%); /* Un gris claro para el fondo */
    --GreyText: hsl(0, 0%, 75%); /* Un gris más oscuro para el texto secundario */
    --InputColor: hsl(0, 0%, 97%); /* Un blanco ligeramente azulado para campos de entrada */
}

.footer{
    background: var(--GreyBg);
    padding: 2rem 0;
}
.secContainer{
        gap: 1.5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
}
        
.footerLogo{
    padding-bottom: .5rem;    
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}    
.logo{
    font-size: 70px;
}
img{
    width: 300px; /* Tamaño deseado */
    height: auto; /* Mantener proporciones */
    margin-right: 10px; /* Ajustar margen derecho según sea necesario */
}
.socials{
    gap: .5rem;
    margin: auto;
    justify-content: center;
}
.icon{
    font-size: 30px;   
    background: var(--PrimaryColor);
    border-radius: 60%;
    padding: 8px;
    color: var(--WhiteColor);
}
.icon:hover{
    background: var(--BlackColor);
}
.footerLinks{
    display: grid;
    row-gap: .2rem;
}
.linkTitle{
    padding-bottom: .5rem;
    color: var(--BlackColor);
    font-weight: 700;
}
li:hover{
    transform: translateX(10px);
}
li a {
    color: var(--PrimaryColor);
}

a, .phone, .email{
    color: var(--TextColor);
    font-size: 13px;
    font-weight: 500;
}
        
