/* Estilos para la página Quiénes Somos */
:root {
    --PrimaryColor: #560319; /* Borgoña oscuro */
    --HoverColor: hsl(330, 28%, 17%); /* Un tono más oscuro para el hover */
    --WhiteColor: #ffffff; /* Blanco */
    --BlackColor: #000000; /* Negro */
    --TextColor: hsl(0, 0%, 45%); /* Un tono más oscuro para el texto */
    --WhiteColorDim: hsl(0, 0%, 93%); /* Blanco ligeramente atenuado */
    --GreyBg: hsl(0, 0%, 94%); /* Un gris claro para el fondo */
    --GreyText: hsl(0, 0%, 75%); /* Un gris más oscuro para el texto secundario */
    --InputColor: hsl(0, 0%, 97%); /* Un blanco ligeramente azulado para campos de entrada */
  }
  
/* Estilos generales */
.container-quienessomos{
    background-color: var(--GreyBg);
    height: 150vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #560319; /* Cambia el color de fondo del encabezado */
    color: #ffffff; /* Cambia el color del texto del encabezado */
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para los elementos de la sección "Quiénes somos" */
.about-us h2,
.about-us h3 {
    color: #560319; /* Cambia el color de los títulos */
}

.about-us p {
    margin-bottom: 15px; /* Ajusta el espacio inferior de los párrafos */
}

.about-us ul {
    list-style-type: disc; /* Cambia el estilo de la lista */
    margin-left: 20px; /* Ajusta el margen izquierdo de la lista */
}

/* Estilos para el enlace */
.about-us a {
    color: blue; /* Cambia el color del enlace */
}

/* Estilos para la imagen del equipo */
.imagen-testimonio {
    height: 100px; /* Ajusta la altura de la imagen */
    width: 100px; /* Ajusta el ancho de la imagen */
    border-radius: 50%; /* Agrega bordes redondeados para un aspecto más suave */
    border: 3px solid var(--PrimaryColor); /* Agrega un borde sólido y del color primario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    margin-bottom: 15px; /* Añade un margen inferior para separar la imagen del contenido */
}

/* Estilos para el nombre del equipo */
.nombre-testimonio a{
    font-size: 18px; /* Ajusta el tamaño de fuente del nombre */
    font-weight: bold; /* Hace que el nombre sea más audaz */
    color: var(--PrimaryColor); /* Cambia el color del texto al color primario */
    margin-bottom: 5px; /* Añade un pequeño margen inferior para separar el nombre del cargo */
}

/* Estilos para el cargo del equipo */
.cargo-testimonio {
    font-size: 14px; /* Ajusta el tamaño de fuente del cargo */
    color: var(--TextColor); /* Cambia el color del texto al color de texto */
    margin-bottom: 10px; /* Añade un margen inferior para separar el cargo del siguiente elemento */
}

@media screen and (max-width: 925px) {
    .container-quienessomos{
        height: 300vh;
    }
}
@media screen and (max-width: 625px) {
    .container-quienessomos{
        height: 350vh;
    }
}
